// ==========================================================================
// SamVK Starter Kit
//
// Inspired by:
// * Sassy Starter by Mina Markham (https://minamarkham.github.io/sassy-starter)
// * Basscss (http://www.basscss.com/)
//
// Site:    http://samvk.com
// Author:  Sam Kauffman
// Email:   hello@samvk.com
// ==========================================================================


// ==========================================================================
// LIBRARIES
// ==========================================================================
@import "compass/css3"; //add vendor prefixes to CSS3 properties

// ==========================================================================
// CSS RESET
// ==========================================================================
@import "reset";


// ==========================================================================
// GLOBAL VARIABLES
// ==========================================================================
@import "variables";


// ==========================================================================
// SASS FUNCTIONS and MIXINS
// ==========================================================================
@import "helpers/meta-functions";

@import "helpers/functions";

@import "helpers/mixins";


// ==========================================================================
// CUSTOM VARIABLES and RULES
// ==========================================================================
@import "custom/colors";

@import "custom/fonts/font-variables";

@import "custom/fonts/font-sizes";

@import "custom/fonts/font-family";

@import "custom/custom-mixins";


// ==========================================================================
// CSS UPDATER
// ==========================================================================
@import "updater";


// ==========================================================================
// SEMANTIC CLASS NAMES
// ==========================================================================
@import "semantics/typography";

@import "semantics/design";

@import "semantics/layout";

@import "semantics/images";

@import "semantics/media-queries";

@import "semantics/tags";


// ==========================================================================
// CUSTOM BASE AND MODULES
// ==========================================================================
@import "custom/base";

@import "custom/modules/index";