// ==========================================================================
// GREETING CARD CANVAS
// ==========================================================================//

#gcard {
    @extend .center;
    box-shadow: 0 em(30px) em(80px) rgba(0, 70, 136, 0.4);
    border-radius: 10px;
    max-width: 100%;
}