// ==========================================================================
// GREETING CARD CANVAS
// ==========================================================================//

.canvas-section {
	@include fade-in(inherit, 2000ms, ease-in);
}

#gcard {
    @extend .center;
    box-shadow: 0 em(30px) em(80px) rgba(0, 70, 136, 0.4);
    border-radius: 10px;
    max-width: 100%;
}

.gcard-wrapper {
	position: relative;
	@include margin-left-right(auto);
}

.design__button {
	//design
	cursor: pointer;
	opacity: 0.9;

	//layout
	position: absolute;
	top: 0;
	right: 0;
	padding: 1em;
	@include size(7em);
	
	&:hover {
		opacity: 1;
	}
}