// ==========================================================================
// EMAIL TEMPLATE SECTION
// ==========================================================================//

.email-section {
	//layout
	position: relative;
	max-width: $postcard-width;
	max-height: $postcard-height;
}

.email-form {
	//layout
	padding-top: 23%;
	position: absolute;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

.email__body-container,
.email__address-container {
	//layout
	@include padding-left-right(3%);
}

//layout
.email__body-container { width: 48%; }
.email__address-container { width: 52%; }


.email-form input, .email-form textarea {
	//design
	background-color: rgba(255, 204, 163, 0.34);

	//layout
	width: 100%;
	margin: 5% 0;
	padding: 0.4em;
}

.email-form textarea {
	//layout
	height: 70%;
}

.email__address-container input {
	//layout
	height: 14%;
}

.email__send--container {
	//layout
	@include padding-left-right(3%);
	width: 100%;
	transform: translateY(-100%);

	@include media($xs-min) {
		transform: none;
	}
}

.email__send--container input {
	//layout
	width: 60%;
	margin: 0;
	margin-left: 19%;
	margin-top: 0.8%;
	padding-right: 5%;

	&::placeholder {
		//text
		font: 1.2em $font-family--accent;
	}
}

.email__header {
	//text
	font-size: 1.2em;
	font-family: "Homemade Apple", cursive;

	//layout
	position: absolute;
	transform: rotate(-4deg) translateY(-10%);
}

.email__header--message {
	@extend .email__header;
	
	//text
	text-decoration: underline;
	left: 17%;
	
	//layout
	transform: rotate(-3deg) translateY(-10%);
}

.email__button {
	//design
	@include palette($white, $gold);
	@include hover(null, #FFC259);
	@include active(null, #FFA60D);

	//layout
	position: absolute;
	margin-top: -0.5%;
	margin-left: -5%;
	padding: 0.7em 0.9em;
}

.email__button.is-sending {
	//design
	cursor: default;
	background-color: #FFC259;
}