// ==========================================================================
// DROPZONE
// ==========================================================================//

.dropzone {
    //design
    cursor: pointer; //interactive cursor

    //layout
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    @include padding-left-right(1em);
    max-width: 310px;
    @extend .center;


    @include media($sm-min) {
        //layout
        flex-direction: row;
        max-width: 100%;
    }
}

.dropzone__card {
    //text
    color: $white;
    font-size: 1.7em;
    font-family: $font-family--loud;
    text-align: center;

    //layout(self)
    flex-grow: 1;

    //layout (children)
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.dropzone__card--icon {
	//layout
    width: 320px;
}

.dropzone__card--text {
	//design
	color: $white;

	//layout
    position: absolute;
    bottom: 21.6%;
    @extend .center-abs;
    @extend .no-spacing;
    white-space: nowrap;
}

.dropzone__or {
	//text
    font-size: 2em;
	@extend .uppercase;
    color: $black;
    text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.4);
}
