// ==========================================================================
// DROPZONE UI DESIGN EFFECTS
// ==========================================================================//

//DROPZONE HOVER EFFECT
.dropzone__browse,
.dropzone__camera {
	//animation
    transition: opacity 150ms linear;
    &:hover { opacity: 0.85; }
}

.dropzone-wrapper {
	//design
	outline: 1px dashed rgba(244, 51, 41, 0.5);
	background-image: url("../img/dropzone.png");

	//layout
	position: relative;
	overflow: hidden;

	//animation
	transition: max-height 1800ms;
	max-height: 634px;

	@include media($sm-min){
		//layout
		max-height: 334px;
	}
}

.dropzone-wrapper.is-dragging {
	//design
    outline: 3px dashed rgba(244, 51, 41, 0.4);

	//animation
    .dropzone__card {
        transition: opacity 0;
        opacity: 0.85;
    }
}

.dropzone-wrapper.is-compressed {
	//layout
	position: relative;
}

//DROPZONE MESSAGE WRAPPER
.dropzone__message-wrapper {
	//layout
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

.dropzone-wrapper.is-compressed,
.dropzone__message-wrapper {
	//layout
	max-height: 3.5em;
}

//when acting as dropzone decompressor
.dropzone-wrapper.is-compressed .dropzone__message-wrapper {
	//design
	cursor: pointer;

	//layout
	z-index: 20;
}
