// ==========================================================================
// GREETING CARD AND CANVAS
// ==========================================================================//

.canvas-section {
	//layout
	max-width: 100%;
	padding-bottom: 5em;
}

#gcard {
	//display
	background-color: $white; //fill in transparency
	border-radius: 10px;

	//layout
	display: block;
	@extend .center;
    max-width: 100%;
}

#gcard, .email-section {
	//display
	box-shadow: 0 em(30px) em(80px) rgba(0, 70, 136, 0.4);
}

.gcard-wrapper {
	//layout
	position: relative;
	@include margin-left-right(auto);
}

.gcard__icon {
	//design
	cursor: pointer;
	opacity: 0.9;

	//layout
	position: absolute;
	top: 0;
	padding: 1em;

	&:hover {
		//design
		opacity: 1;
	}
}

.design__button {
	//layout
	right: 0;
	@include size(7em);
	
}

.edit__button {
	//layout
	left: 0;
	@include size(6em);
}