// ==========================================================================
// HEADER
// ==========================================================================//
header {
    //base font-size
    font-size: 1rem;

    //layout
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.header__title {
    //text
    line-height: 1;
    text-shadow: em(0.7px) em(0.7px) em(2px) rgba(244, 51, 41, 0.25);
}

.header__sub-title {
    //text
    font: 1.5em $font-family--accent;
    width: 78%;
    min-width: 278px;
    
    //layout
    @extend .center;
    
    @include media($lg-min) {
        font-size: 2em;
    }
}

.header__logo {
	//layout
	@include absolute(top 0 left 0);
	transform: translate(-42%, -42%);
}