// ==========================================================================
// EMAIL VALIDATION
// ==========================================================================//

.email__validate {
	//text
	font-size: 0.8em;
	color: $darkred;

	//design
	opacity: 0;
	visibility: hidden;

	//layout
	display: block;
	position: absolute;
	@include transform(translateY(-85%));

	//animation
	@include transition(opacity 500ms ease, transform 500ms ease);
}

.email__target-email .email__validate {
	//layout
	margin-top: 3%;
	margin-left: 18.5%;
}

input:invalid + .email__validate.is-displayed {
	//design
	visibility: visible;
	opacity: 1;

	//layout
	@include transform(translateY(-110%));
}