// ==========================================================================
// DESIGN
// ==========================================================================//

//border-radius

.rounded { border-radius: 5px; }
.circle  { border-radius: 1000px; }

//button

.button {
	cursor: pointer;
	display: inline-block;
	padding: em(10px) em(20px);
	
	@include hover {
		text-decoration: none;
	}
}

//no wrap

body .nowrap{
    white-space: nowrap;
}

//overflow

body .show-overflow {
	overflow: visible;
}

body .hide-overflow {
	overflow: hidden;
}