// ==========================================================================
// TYPOGRAPHY
// ==========================================================================//

//see custom/fonts/_font-sizes.scss for font sizing

//accents

.underline { text-decoration: underline; }
.italic  { font-style: italic; }
.bold { font-weight: $bold; }

.loud {
    color: $color-secondary;
    font-family: $font-family--loud;
}

//text-align

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

//text-transform

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }

//line-height

.l0 { line-height: $line-height--none; }
.lhalf { line-height: $line-height--half; }
.l2 { line-height: $line-height--2; }
.l3 { line-height: $line-height--3; }