// ==========================================================================
// COLORS
// ==========================================================================//

// Custom Colors
$red: #F43329;
$lightred: #F5473E;
$darkred: #Ef3D34;
$salmon: #F8847E;
$charcoal: #333;
$gold: #FFB330;

$lightgrey: #F8F8F8;
$mediumgrey: #ECECEC;

// Common Colors
$white: #FFF;
$offwhite: #FCFCFC;
$black: #0B0B0B;
$trueblack: #000;

// Color Usage
$color-primary: $red;
$color-secondary: $charcoal;