// ==========================================================================
// CUSTOM MIXINS and FUNCTIONS (specific to a project without as much reusability)
// ==========================================================================//

// ==========================================================================
// INCLUDES:
// 
// Mixins:
// * fade-in(position, duration){} mixin
// 
// ==========================================================================//

//NOTE: This mixin requires a "fade-in" class added to trigger
@mixin fade-in($position: inherit, $duration: 1000ms, $ease: ease) {
	//design
	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	//layout
	position: absolute;
	
	//animation
	@include transition(opacity $duration $ease, visibility 0ms $duration);	

	&.fade-in {
		//design
		opacity: 1;
		visibility: visible;

		//layout
		position: $position;
		
		//animation
		transition-delay: 0ms;
	}
}